* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    height: 100dvh;
}

#header{
    padding: 2rem 0 2rem 0;

    background-color: rgb(41, 10, 10);
    color: yellow;

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#center{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0 10% 0 10%;

    overflow-y: auto;
}

#intro{
    font-size: 1.75rem;
}

#projs{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    font-size: 1.25rem;
}

.proj{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

    padding: 1rem;

    min-width: 20%;
    max-width: 50%;

    background-color: lightgrey;
    border: 3px solid black;
}

.proj-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem4;
}

.proj-link{
    text-align: center;
}

#footer{
    padding: 1rem 0 1rem 0;

    background-color: rgb(41, 10, 10);
    color: yellow;

    text-align: center;
    font-size: 1.2rem;
}
